@font-face {font-family: "Fabriga";
  src: url("../../fonts/fabriga.eot"); /* IE9*/
  src: url("../../fonts/fabriga.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../../fonts/fabriga.woff2") format("woff2"), /* chrome、firefox */
  url("../../fonts/fabriga.woff") format("woff"), /* chrome、firefox */
  url("../../fonts/fabriga.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../../fonts/fabriga.svg#Fabriga") format("svg"); /* iOS 4.1- */
}


// mixins // // // // // // // // // // // // // // // // // // // // // // // // // // // 

// da breakpoints
$s-break: 480px;

$m-break: 768px;

$l-break: 1200px;


// Define the mixin for mobile devices
@mixin small {
  @media (min-width: $s-break) {
    @content;
  }
}

// Define the mixin for mobile devices
@mixin medium {
  @media (min-width: $m-break) {
    @content;
  }
}

// Define the mixin for mobile devices
@mixin large {
  @media (min-width: $m-break) {
    @content;
  }
}


/* Base font size for the document */
html {
  font-size: 8px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include small {
    font-size: 9px;

  }
  @include medium {
    font-size: 10px;

  }
  @include large {
    font-size: 12px;

  }
}

/* Headings */
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  & a {
    color: #1d1d1b;
    text-decoration: none;
    font-weight: 900;
  }
}

.wideRead {
  line-height: 180%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}


// helper clases

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}


.big-foto {
  margin: 2vh auto;
  width: 80%;
  position: relative;
  display: flex;
}
.subtitle {
  font-size: 2rem;
}

.fuente {
  color: #777;
  font-size: 1rem;
  text-transform: uppercase;
  a {
    color: #777;
  }
}
.calor {
  color:#f29074;
}

.calentamiento {
  color:#e73331;
}

.gases {
  color:#ed6c2c;
}

.anomalia {
  color:#3e81c3;
}
.sequia {
  color:#e6be8b;
}


.info-a4 {
  max-width: 70vw;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.lafabulosa {
 
  text-transform: uppercase;
  color: white;
  & a {
    color: white;
  }
}

.heatBar {
  width: 40vw;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin:0 auto;
  display: flex;
}



////foooter////////////////////////////////////////////////////////////////
.logo-footer {
  height: 160px;
  display: inline-flex;
  flex-direction: row;

  &.unab  {
    height: 100px; 
  }
  &.vice {
    height: 100px; 
  }
  &.lai {
    height: 120px; 
  }
  &.parque  {
    height: 120px; 
  }
  &.museo {
    height: 120px; 
  }
  &.tecno {
    height: 80px; 
  }
}


@media screen and (max-width: 750px) {
  /* ... */
  .logo-footer {
    height: 160px;
    display: inline-flex;
    flex-direction: row;
  
    &.unab  {
      height: 50px; 
    }
    &.vice {
      height: 50px; 
    }
    &.lai {
      height: 60px; 
    }
    &.parque  {
      height: 60px; 
    }
    &.museo {
      height: 60px; 
    }
    &.tecno {
      height: 40px; 
    }
  }
  
}



.logos-bar {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  p {
    color:white;
    text-align: left;
    margin:0;
    font-size: 1.5rem;
    }


}
.instagramIcon {
  height: 34px;
  display: inline-block;
  margin:4px 0 0 0;
  padding:0;
  padding-right:10px;
}
.instaIconText {
  color: #FFF;
  font-size: 1.5rem;
  margin: 0;
  align-self: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include small  {
    font-size: 2.2rem;
  }
  @include large  {
    font-size: 3rem;
  } 
}

.cat-links-footer li {
  padding: 5px;
}




/////menu/////////////////////////////////////////////////////////////


.cat-links {
  position: fixed;
  top: 26vh;
  margin:0;
  left:0;
  z-index: 999;
  width: 80vw;
  display : inline-flex;
  justify-content: space-around; 
  padding: 30px 0;
  color: white;


  li {
    list-style: none;
  }
  
}

.linkCat {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 30px;
  text-decoration: none; 
  font-family: 'Fabriga', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



.menu {

  visibility:hidden;
  opacity: 0;
  transform: translateX(100%);

   &.active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  transition: all 1s ease-in-out;
}


.logoTestigos {
  position: absolute;
  top:0;
  right: 0;
  width: auto;
  height: 90vh;
  z-index: 55;
  margin:5vh;
  &.logo-menu {
    z-index: 999;
  }
  transition: all 1s;
  @include small {
    height: 60vh;
  }
  
}

.logoTestigos-menu {
  position: absolute;
  top:0;right: 0;
  width: auto;
  height: 90vh;
  z-index: 55;
  margin:5vh;
}


.big-title {
  font-size: 2rem;
  font-family: 'Fabriga', sans-serif;
  margin: 2vh auto;
  width: 90%;
  text-align: center;
  font-weight: 900;
  span {
    font-size: 3rem;

  }
 
  @include medium {

    font-size: 4rem;
  }
  @include large {
    font-size: 6rem;
  }
}

.lockupText {
  
  position: absolute;
  top:30px;
  left: 190px;
  width: auto;
  height: 150px;
  margin:0;
  z-index: 10;

  @include small {

  }

  @include medium {

  }
  @include large {

  }
}



.burger {
  z-index: 9999;
  position: fixed;
  top:10px;
  left:10px;
  width: calc(20vw + 100px);
  max-width: 80px;
  min-width: 80px;
  transition: all 0.7s ease-in-out;
  transform: rotate(0);
    // Include your mixins
    @include small {
      // Add styles specific to the small burger menu
      top:20px;
      left:20px;
      width: calc(20vw + 100px);
      max-width: 100px;
      min-width: 100px;
    }
  
    @include medium { 
      // Add styles specific to the medium burger menu
      top:30px;
      left:30px;
      width: calc(20vw + 100px);
      max-width: 150px;
      min-width: 150px;

    }
  
    @include large {
      // Add styles specific to the large burger menu
      top:30px;
      left:40px;
      width: calc(20vw + 100px);
      max-width: 150px;
      min-width: 150px;
    }

    
}

.activeMenu {
  transform: rotate(90deg);
}
.menu-footer {
  z-index: 100;
  width:100vw;
  display: inline-flex;
  list-style-type: none;
  text-align: left;
  li  {
    list-style-type: none;
  }
}

.nav-links-footer {
  list-style-type: none;
  text-align: left;
  li a {
  color: white;

  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
}

.nav-links.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.7s ease-in-out;
}

.nav-links {

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s ease-in-out;
 list-style-type: none;
 position: fixed;
 top:0;
 left:0;
 margin: 0;
 width: 100vw;
 padding: 35vh 0 0 0;
 height: 100vh;
 z-index: 998;
 text-align: left;
  a {
    color: white;
  }
 transition: all 0.7s ease-in-out;

 
}
.nav-links li {
  width: 70vw;
  height: 8vh;
  display: flex;
  justify-content:flex-start;
  text-align: left;
  border-bottom: 3px solid white ;

}

.nav-links li a {
  margin: 0;
  text-decoration: none; 
  font-family: 'Fabriga', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  justify-content:flex-start;
  align-self: center;
  padding: 30px;
  text-align: left;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
}

.audioguide-logo {
  height: 54px;
  margin:  auto;
}
.wrapQuote {

  text-align: center;
  font-family: 'Fabriga', sans-serif;
  font-style: italic;
  color: #666;
  max-width: 70vw;
  text-align: center;
  margin:  auto;
  padding: 10vh 0;
  font-size: 5rem;
  position: relative;
  height: auto;
  min-height: 80vh;
}


.App {
  text-align: center;
  font-family: 'Fabriga', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7fbfea;
}

H2 , H1 {
  
 color:#7fbfea;
 font-family: 'Fabriga', sans-serif;
 text-transform: uppercase; 
 font-weight: 800;
 z-index: 995;
}

svg {
  font-family: 'Fabriga', sans-serif;
}

.wrapQuoteBg {
  background-color: #eee;
}

body {
  margin: 0;
  font-family: 'Fabriga', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#282c34;
}

.wrapMain {

  height: 100vh;
}

.mainBgWrap {

  width: 100vw;
  height:100vh;
}


.mainWrap {

  z-index: 99999;
  top:30px;
  left: 80vw;
  width: 10vw;
  min-width: 60px;
  max-width: 100vh;

}

.mainTitle { 
  color: white;
  text-align: center;
  font-size: 10vw;
  position: sticky;
  top: 33%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin:0;
/*   border: #61dafb 1px solid; */
}

H1 {
  width: 60%;
  z-index: 900;
  display: none;
}


.sticky-text {
  position: sticky;
  padding: 25px 25px 25px calc(20vw + 50px);
  background-color: #FFFAC9;
  top:0;
  font-size: 2.5rem;
  display: flex; 
  align-items: center;
  text-align: center;
  height: 100px;
  margin: 0;

    @include small {
      // Add styles specific to the small burger menu
      font-size: 2.5rem;


    }
  
    @include medium { 
      // Add styles specific to the medium burger menu
   
      height: 120px;
      font-size: 2.5rem;
    }
  
    @include large {
      // Add styles specific to the large burger menu
      height: 150px;
      font-size: 3rem;

    }



}


.top-black  {
 
  background-color:#000;
  color: #FFF;
  margin: 0;
}

.top-1  {
 
  background-color:#e73d2f;
  color: #FFF;

}
.top-2 {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 {
  background-color: #912713;
 
  color:#FFF;
}
.top-4 {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 {

  background-color: #61dafb;
  color:#FFF;
}
.top-6 {
  background-color: #f8bb26;
  color:#FFF;
}


.top-1 a {
  background-color: #d22726;
  color:#FFF;
}
.top-2 a {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 a {
  background-color: #912713;
 
  color:#FFF;
}
.top-4 a {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 a{
  background-color: #61dafb;
 
  color:#FFF;
}
.top-6 a{
  background-color: #f8bb26;
  color:#FFF;
}
.wrapperSection {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
