.cat-links {
  position: fixed;
  top: 10px; left:0;
  z-index: 999;
  width: 50vw;
  display : inline-flex;
  justify-content: space-around; 
  margin-left: 30vw;

  li {
    list-style: none;
  }
  
}

.linkCat {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 30px;
  text-decoration: none; 
  font-family: 'Oswald', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* Base font size for the document */
html {
  font-size: 8px;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}



@media screen and (max-width: 450px) {
  /* ... */

  html {
    font-size: 10px;
  }
}

/* Styles for screens at least 768px wide */
@media screen and (min-width: 768px) {
  /* ... */
  html {
    font-size: 12px;
  }

}

/* Styles for screens at least 992px wide */
@media screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

/* Styles for screens at least 1200px wide */
@media screen and (min-width: 1200px) {
  /* ... */
 
    html {
      font-size: 16px;
    }
}


.logoTestigos {
  position: absolute;
  top:0;right: 0;
  width: auto;
  height: 90vh;
  z-index: 55;
  margin:5vh;
}
.lockupExpo {
  path {
    fill: red;
  }
}


.lockupText {

  position: sticky;
  top:60px;
  left:340px;
  z-index: 9999;
  width: calc(20vw + 250px);
  max-width: 450px;
  min-width: 200px;
  margin-top: 40px;

}

@media screen and (max-width: 1024px) {
  /* ... */

  .lockupText {
    margin-top: 0px;
    left:30px;
    position: sticky;
  }
}


.burger {
  
  position: fixed;
  top:30px;
  left:30px;
  z-index: 9999;
  width: calc(20vw + 100px);
  max-width: 300px;
  min-width: 200px;
}

.nav-links {
 list-style-type: none;
 position: fixed;
 top:0;
 left:0;
 margin: 0;
 width: 100vw;
 padding: 0;
 height: 100vh;
 z-index: 998;
 text-align: left;
 
}
.nav-links li {
  width: 100vw;
  height: 16.6%;
  display: flex;
  justify-content:flex-start;
  text-align: left;

}

.nav-links li a {
  margin: 0;
  text-decoration: none; 
  font-family: 'Oswald', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  justify-content:flex-start;
  align-self: center;
  padding: 30px;
  text-align: left;
  flex-direction: column;

}

.audioguide-logo {
  height: 54px;
  margin:  auto;
}
.wrapQuote {

  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  color: #666;
  max-width: 70vw;
  text-align: center;
  margin:  auto;
  padding: 10vh 0;
  font-size: 5rem;
  position: relative;
  height: auto;
  min-height: 80vh;
}


.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7fbfea;
}

H2 , H1 {
  
 color:#7fbfea;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase; 
 font-weight: 800;
 z-index: 995;
}

svg {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#282c34;
}

.wrapMain {

  height: 100vh;
}

.mainBgWrap {

  width: 100vw;
  height:100vh;
}


.mainWrap {

  z-index: 99999;
  top:30px;
  left: 80vw;
  width: 10vw;
  min-width: 60px;
  max-width: 100vh;

}

.mainTitle { 
  color: white;
  text-align: center;
  font-size: 10vw;
  position: sticky;
  top: 33%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin:0;
/*   border: #61dafb 1px solid; */
}

H1 {
  width: 60%;
  z-index: 900;
  display: none;
}
p { 
  max-width: 80vw;
  margin: 0 auto;
}

.sticky-text {
  position: sticky;
  padding: 25px 0 25px calc(20vw + 150px);
  background-color: #FFFAC9;
  top:0;
  font-size: 2.5rem;
  display: flex; 
  align-items: center;
  text-align: center;

  height: calc(20vw + 150px);
  max-height: 300px;
  min-height: 200px;

}



.top-1 {
  background-color: #FFFAC9;
  background-color: #FFFAC9;
  color:#EE7555;
}
.top-2 {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 {
  background-color: #E73D2F;
 
  color:#FFF;
}
.top-4 {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 {
  background-color: #FFF;
  border: 1px solid #61dafb;
  color:#61dafb;
}
.top-6 {
  background-color: #F29074;
 
  color:#FFF;
}


.top-1 a {
  background-color: #FFFAC9;
  color:#EE7555;
}
.top-2 a {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 a {
  background-color: #E73D2F;
 
  color:#FFF;
}
.top-4 a {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 a{
  background-color: #61dafb;
 
  color:#FFF;
}
.top-6 a{
  background-color: #F29074;
 
  color:#FFF;
}
.wrapperSection {
  margin-bottom: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
