.info-a4 {
  max-width: 70vw;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.slider.aws-btn {

  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 12px;
  --organic-arrow-border-radius: 6px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #FFF;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #FFF;
  --control-bullet-active-color: #d5d5d5;
  --loader-bar-color: #FFF;
  --loader-bar-height: 3px;
  }

  .slider-bullets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid red;
  }
  
  .slider-bullets li {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider-bullets li.active {
    background-color: #fff;
  }
 
  
  
  


.lafabulosa {
 
  text-transform: uppercase;
  color: white;
  & a {
    color: white;
  }
}

.slider-container {
  position: relative;
}

.slider-controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.slider-control {
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slider-control.active {
  background-color: #fff;
}
///
.heatBar {
  width: 40vw;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin:0 auto;
  display: flex;
}

.logo-footer {
  height: 160px;
  display: inline-flex;
  flex-direction: row;

  &.unab  {
    height: 100px; 
  }
  &.vice {
    height: 100px; 
  }
  &.lai {
    height: 120px; 
  }
  &.parque  {
    height: 120px; 
  }
  &.museo {
    height: 120px; 
  }
  &.tecno {
    height: 80px; 
  }
}


@media screen and (max-width: 750px) {
  /* ... */
  .logo-footer {
    height: 160px;
    display: inline-flex;
    flex-direction: row;
  
    &.unab  {
      height: 50px; 
    }
    &.vice {
      height: 50px; 
    }
    &.lai {
      height: 60px; 
    }
    &.parque  {
      height: 60px; 
    }
    &.museo {
      height: 60px; 
    }
    &.tecno {
      height: 40px; 
    }
  }
  
}



.logos-bar {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  p {
    color:white;
    text-align: left;
    margin:0;
    font-size: 1.5rem;
    }


}

.instagramIcon {
  height: 34px;
  display: inline-block;
  margin:4px 0 0 0;
  padding:0;
  padding-right:10px;
}
.instaIconText {
  color: #FFF;
  font-size: 2.2rem;
  margin: 0;
  align-self: center;

}

.cat-links-footer li {
  padding: 5px;
}

.cat-links {
  position: fixed;
  top: 26vh;
  margin:0;
  left:0;
  z-index: 999;
  width: 100vw;
  display : inline-flex;
  justify-content: space-around; 
  background-color: #999;
  padding: 30px 0;


  li {
    list-style: none;
  }
  
}

.linkCat {
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 30px;
  text-decoration: none; 
  font-family: 'Fabriga', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


/* Base font size for the document */
html {
  font-size: 8px;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* Paragraphs */
p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  & a {
    color: #1d1d1b;
    text-decoration: none;
    font-weight: 900;
  }
}

.wideRead {
  line-height: 2.5rem;
}


@media screen and (max-width: 450px) {
  /* ... */

  html {
    font-size: 10px;
  }

  .logoTestigos {
   
    height: 60vh;
  
  }
  
}

/* Styles for screens at least 768px wide */
@media screen and (min-width: 768px) {
  /* ... */
  html {
    font-size: 12px;
  }

}

/* Styles for screens at least 992px wide */
@media screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

/* Styles for screens at least 1200px wide */
@media screen and (min-width: 1200px) {
  /* ... */
 
    html {
      font-size: 16px;
    }
}

.logoTestigos {
  position: absolute;
  top:0;right: 0;
  width: auto;
  height: 90vh;
  z-index: 55;
  margin:5vh;
}

.logoTestigos-menu {
  position: absolute;
  top:0;right: 0;
  width: auto;
  height: 90vh;
  z-index: 55;
  margin:5vh;
}

.lockupExpo {

}

.big-title {
  font-size: 4rem;
  font-family: 'Fabriga', sans-serif;
  margin: auto;
  width: 100%;
  text-align: center;
}


.lockupText {

  position: sticky;
  top:60px;
  left:340px;
  z-index: 99;
  width: calc(20vw + 250px);
  max-width: 450px;
  min-width: 150px;
  margin-top: 40px;
  transform:translateY(0px);
  

}

@media screen and (max-width: 1024px) {
  /* ... */

  .lockupText {
    position: absolute;
    top:40vh;
    width: auto;
    height: 90vh;
    margin:0;
 
  }

  .logoTestigos {
    height: 60vh;
  }

}
.menu {
}

.burger {
  
  position: fixed;
  top:30px;
  left:30px;
  z-index: 9999;
  width: calc(20vw + 100px);
  max-width: 200px;
  min-width: 200px;
  transition: all 0.7s ease-in-out;
  
  transform: rotate(0);

 
}

.activeMenu {
  transform: rotate(90deg);
}
.menu-footer {
  z-index: 100;
  width:100vw;
  display: inline-flex;
  list-style-type: none;
  text-align: left;
  li  {
    list-style-type: none;
  }
}

.nav-links-footer {
  list-style-type: none;
  text-align: left;
  li a {
  color: white;

  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
}

.nav-links.show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.7s ease-in-out;
}

.nav-links {

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s ease-in-out;
 list-style-type: none;
 position: fixed;
 top:0;
 left:0;
 margin: 0;
 width: 100vw;
 padding: 35vh 0 0 0;
 height: 100vh;
 z-index: 998;
 text-align: left;
 background-color: #888;
 transition: all 0.7s ease-in-out;

 
}
.nav-links li {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content:flex-start;
  text-align: left;

}

.nav-links li a {
  margin: 0;
  text-decoration: none; 
  font-family: 'Oswald', sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 800;
  font-size: 2rem;
  display: flex;
  justify-content:flex-start;
  align-self: center;
  padding: 30px;
  text-align: left;
  flex-direction: column;
  text-transform: uppercase;

}

.audioguide-logo {
  height: 54px;
  margin:  auto;
}
.wrapQuote {

  text-align: center;
  font-family: 'Fabriga', sans-serif;
  font-style: italic;
  color: #666;
  max-width: 70vw;
  text-align: center;
  margin:  auto;
  padding: 10vh 0;
  font-size: 5rem;
  position: relative;
  height: auto;
  min-height: 80vh;
}


.App {
  text-align: center;
  font-family: 'Fabriga', sans-serif;
  font-family: 'Roboto', sans-serif;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7fbfea;
}

H2 , H1 {
  
 color:#7fbfea;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase; 
 font-weight: 800;
 z-index: 995;
}

svg {
  font-family: 'Fabriga', sans-serif;
}

.wrapQuoteBg {
  background-color: #eee;
}

body {
  margin: 0;
  font-family: 'Fabriga', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#282c34;
}

.wrapMain {

  height: 100vh;
}

.mainBgWrap {

  width: 100vw;
  height:100vh;
}


.mainWrap {

  z-index: 99999;
  top:30px;
  left: 80vw;
  width: 10vw;
  min-width: 60px;
  max-width: 100vh;

}

.mainTitle { 
  color: white;
  text-align: center;
  font-size: 10vw;
  position: sticky;
  top: 33%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin:0;
/*   border: #61dafb 1px solid; */
}

H1 {
  width: 60%;
  z-index: 900;
  display: none;
}
p { 
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}

.sticky-text {
  position: sticky;
  padding: 25px 25px 25px calc(20vw + 50px);
  background-color: #FFFAC9;
  top:0;
  font-size: 2.5rem;
  display: flex; 
  align-items: center;
  text-align: center;
  height: calc(20vw + 50px);
  max-height: 200px;
  min-height: 200px;
  margin: 0;
}


.top-black  {
 
  background-color:#000;
  color: #FFF;
  margin: 0;
}

.top-1  {
 
  background-color:#d22726;
  color: #FFF;

}
.top-2 {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 {
  background-color: #912713;
 
  color:#FFF;
}
.top-4 {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 {

  background-color: #61dafb;
  color:#FFF;
}
.top-6 {
  background-color: #f8bb26;
  color:#FFF;
}


.top-1 a {
  background-color: #d22726;
  color:#FFF;
}
.top-2 a {
 
  background-color: #3e81c3;
 
  color:#FFF;
}
.top-3 a {
  background-color: #912713;
 
  color:#FFF;
}
.top-4 a {
  background-color: #549BD4;
 
  color:#FFF;
}
.top-5 a{
  background-color: #61dafb;
 
  color:#FFF;
}
.top-6 a{
  background-color: #f8bb26;
  color:#FFF;
}
.wrapperSection {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
