

// mixins // // // // // // // // // // // // // // // // // // // // // // // // // // // 

// da breakpoints
$s-break: 480px;

$m-break: 768px;

$l-break: 1200px;


// Define the mixin for mobile devices
@mixin small {
  @media (min-width: $s-break) {
    @content;
  }
}

// Define the mixin for mobile devices
@mixin medium {
  @media (min-width: $m-break) {
    @content;
  }
}

// Define the mixin for mobile devices
@mixin large {
  @media (min-width: $m-break) {
    @content;
  }
}

.timeline-arrow {
	width: 30px;
	transform: translate(-150%,40%);
	position: absolute;

}

.timeline-tooltip {

	z-index: 20;
	width: auto;
	height: 150px;
	min-width: 180px;
	max-width: 300px;
	color: #1d1d1b;
	white-space: normal;
	position: absolute;


	
	@include small {
		height:150px;

	}
	@include medium() {
		height:150px;

	}
	@include large {
		height: 150px;

	}

	&.reverse {
		text-align: right;
		transform: translateX(-100%);
		.timeline-arrow {
			transform: rotate(0deg) translate(150%,40%);	
		}
	}

	h4 {
	font-size: 1.8rem;
	border-bottom: 5px solid #3D80C2;
	font-weight: 900;
	display: inline-block;
	padding-bottom: 20px;
	height: auto;
	margin: 0;
	}
		p  {
			font-size: 1rem;
			margin-top: 10px;
			padding: 0;
		}
}


.tooltip-wrapper {
	
	height:150px;
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;

	@include small {
		height:150px;

	}
	@include medium() {
		height:150px;

	}
	@include large {
		height: 150px;

	}

	&.down-wrapper {

		height:100px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	
		padding: 0;
		padding-top: 4px;


		@include small {
			height:200px;
	
		}
		@include medium() {
			height:200px;
	
		}
		@include large {
			height: 250px;
	
		}

		.timeline-arrow {
		
		  transform: rotate(180deg) translate(150%,0);	

		}

		.timeline-tooltip {

			left: 100%;
			top:100px;
			&.reverse {
			
				left: 0;
				transform: translateX(-100%);
				.timeline-arrow {
	
					transform: rotate(180deg) translate(-200%,-0);	
				  }
			
			}
		}

	}
}
.timeline-triangle {

	width: 60%;
	align-self: center;
	margin: 10px 20%;
}

.wrap-timeline {
	position: relative;
	overflow: hidden;
	padding:0;
}

.timeline-item {

	display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

	margin: 0;
	padding: 0;
  
	width: 40px;


	@include small {
		width: 45px;
	} 
	@include medium {
		width: 50px;

	}
	@include large {
		width: 60px;
	}
	
}

.timeline-year {
	width: 100%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-weight: 900;
	font-size: 1.6rem;
	flex-direction: row;
	padding: 0;
	margin: 0;
	display: flex;
	height: auto;
	transform: rotate(180deg);
	align-items: center;
	align-self: center;
	justify-content: flex-start;

	p {
		align-self: center;
		padding: 0;
		margin: 0;
		display: flex;
	}

}




.timeline-color-block {
	width: 100%;
	height: 260px;
	display: flex;
	align-items: stretch;

	@include small {
		height: 265px;
	}

	@include medium {
		height: 350px;
	}
	@include large {
		height: 450px;
	}
}


.timeline-circle {
    user-select: none;
    pointer-events: none;
    position: absolute;
    margin: auto;

    left:50%;
    transform: translate(-50%,-56%);
    flex-direction: column;
    justify-content: center;
    white-space:normal;
    display: flex;
    z-index: 40;
    h3 {
        margin: 10px auto;
		text-align: center;
		max-width: 85%;
    }

    p {

        margin: 10px auto;
        font-size: 1rem;
		text-align: center;
		max-width: 92%;
    }


	height: 200px;
    width: 200px;
	top:290px;

    @include small {
		height: 250px;
		width: 250px;
		top:297px;

	}
	@include medium {
		height: 350px;
		width: 350px;
		top:45.4%;

	}
	@include large {
		height: 420px;
		width: 420px;
		top:400px;
	} 
}
.mobile-timeline-container {
   

    display: flex;
    align-items: center;
    position: relative;
	height: auto;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	justify-content: flex-start;

	height: auto;
	width: 100vw;

	@include small {

	
   }
   @include medium {

	
   }
   @include large {
	
	
   } 
  
  }

  .mobile-timeline-wrapper {
	height: 100%;
	display: flex;

  }

.timeline-container {
	padding:0 40px;
}